@font-face {
    font-family: "ArialMT";
    src: url("../fonts/arial.woff2"), url("../fonts/arial.woff") ;
    font-weight: 400;
}
@font-face {
    font-family: "Arial-BoldMT";
    src: url("../fonts/Arial-BoldMT.woff2"), url("../fonts/Arial-BoldMT.woff") ;
    font-weight: 400;
}
@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial.woff2') format('woff2');
    src: url('../fonts/arial.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arialbd.woff2') format('woff2');
    src: url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ariali.woff2') format('woff2');
    src: url('../fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'AEmpirial';
    src: url('../fonts/aempirial.woff2') format('woff2');
    src: url('../fonts/Aempirial.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bello';
    src: url('../fonts/Bello-Script.woff2') format('woff2');
    src: url('../fonts/Bello-Script.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2') format('woff2');
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('../fonts/HelveticaNeueLTStd-BlkCn.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-BlkCn.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd Hv Cn';
    src: url('../fonts/HelveticaNeueLTStd-HvCn.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-HvCn.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std - Lt';
    src: url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('../fonts/HelveticaNeueLTStd-LtIt.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-LtIt.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std - Ult Lt Cn';
    src: url('../fonts/HelveticaNeueLTStd-UltLtCn.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-UltLtCn.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue LT Std Cn';
    src: url('../fonts/HelveticaNeueLTStd-Cn.woff2') format('woff2');
    src: url('../fonts/HelveticaNeueLTStd-Cn.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
	/*outline: 1px solid red;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
}
@media all and (max-width: 640px) {
    body {
        /*font-size: 30px;*/
    }
}
.template-width {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu-list__item {
    list-style: none;
}

.menu-list__link {
    text-decoration: none;
    text-transform: uppercase;
}

.header {
    font-family: ArialMT, arial, sans-serif;
}
.customer-info {
    padding: 0 calc((100% - 970px) / 2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: -0.06px;
    line-height: 30px;
}
.customer-info__customer-care-tel {
    text-decoration: none;
    color: #ffffff;
}
.customer-info-change {
    width: 235px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.change_currency {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
    border-left: 1px solid #444444;
    text-align: center;
}
.change_currency__current-currency {
    width: 45px;
}
.change_currency__currency-menu {
    text-decoration: none;
    display: block;
    width: 25px;
    background: url("../img/ico_arrow_down_grey.png") center no-repeat;
}
.change_currency__currency-menu:hover {
    outline: 1px solid #444444;
}
.customer-account {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    width: 128px;
    position: relative;
}

.customer-account__info {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: ArialMT, arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: -0.06px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.customer-account__info::before {
    display: block;
    width: 14px;
    height: 13px;
    content: "";
    background: url("../img/ico_contact_user.png") center no-repeat;
}
.customer-account__info:hover {
    outline: 1px solid #444444;
}
.customer-account__check {
    display: none;
}
.customer-account__check:checked ~ .customer-account__form {
    display: flex;
}
.customer-account__form {
    display: none;
    position: absolute;
    right: 0;
    height: 125px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 235px;
    z-index: 100;
    background-color: #000000;
}
.customer-account__input {
    outline: none;
    color: #ffffff;
    font-size: 1.2rem;
    width: 95%;
    height: 30px;
    background-color: #000000;
    border: 1px solid #444444;
    padding-left: 7px;
}
.customer-account__input:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}
.customer-account__input:focus {
    border: 1px solid rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}
.customer-account__input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.customer-account__input:focus::placeholder {
    color: transparent;
    transition: 0.5s;
}
.customer-account__submit {
    height: 30px;
    width: 60%;
    outline: none;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: #000000;
    border: 1px solid #444444;
    text-transform: uppercase;
}
.customer-account__submit:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}
.customer-account__submit:active {
    transform: translateY(2px);
    transition: 0.2s;
}
.search {
    display: flex;
    width: 37px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #444444;
}
.search:hover {
    outline: 1px solid #444444;
}
.search__btn {
    display: block;
    width: 15px;
    height: 15px;
    background: url("../img/ico_search.png") center no-repeat;
}
/*Адаптив для блока customer-info*/
@media all and (max-width: 1199px) {
    .customer-info {
        padding: 0 15px;
    }
}
@media all and (max-width: 640px) {
    .customer-info {
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .customer-info__customer-care {
        line-height: 96px;
        text-align: center;
        width: 100%;
        background-color: #fafafa;
        color: #838383;
    }
    .customer-info-change {
        line-height: 96px;
        width: 100%;
    }
    .change_currency {
        width: 155px;
    }
    .change_currency__current-currency {
        width: 60%;
    }
    .change_currency__currency-menu {
        width: 40%;
    }
    .customer-account {
        width: 385px;
    }
    .customer-account__info {
        font-size: 30px;
    }
    .customer-account__info::before{
        width: 40px;
        height: 38px;
        background: url(../img/ico_contact_user_adapt.png) center no-repeat;
    }
    .customer-account__form {
        width: 130%;
        height: 250px;
    }
    .customer-account__input {
        height: 60px;
        font-size: 28px;
    }
    .customer-account__submit {
        height: 60px;
        font-size: 28px;
    }
    .search {
        width: 100px;
    }
    .search__btn {
        width: 38px;
        height: 38px;
        background: url("../img/ico_search_adapt.png") center no-repeat;
    }
}
@media all and (max-width: 461px) {
    .change_currency__current-currency span {
        display: none;
    }
}
@media all and (max-width: 410px) {
    .customer-info {
        font-size: 23px;
    }
    .customer-care {
        height: 80px;
        line-height: 80px;
    }
    .customer-info-change {
        height: 80px;
        line-height: 80px;
    }
    .customer-account__info {
        font-size: 23px;
    }
    .customer-account__input {
        font-size: 20px;
    }
    .customer-account__submit {
        font-size: 20px;
    }
}
@media all and (max-width: 337px) {
    .customer-account__info::before {
        display: none;
    }
}
/*Окончание адаптива для блока customer-info*/
.navigation {
    padding: 20px calc((100% - 970px) / 2);
}
.navigation-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: ArialMT, arial, sans-serif;
    align-items: center;
}
.logo_main {
    text-decoration: none;
    display: block;
    width: 120px;
    height: 28px;
    background: url("../img/logo_main.png") center no-repeat;
}
.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 435px;
    font-size: 16px;
    letter-spacing: -0.08px;
}
.top_menu__item {
    text-decoration: none;
    color: #000000;
}
.top_menu__item::after {
    float: right;
    display: block;
    content: "";
    width: 15px;
    height: 18px;
    background: url("../img/ico_nav_arrow_down.png") center no-repeat;
}
.top_menu__item:hover::after{
    transform: rotateZ(-90deg);
    transition: 0.3s;
}
.top_menu__item:hover {
    color: #fd926d;
    transition: 0.3s;
}
.customer-shoping {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 214px;
    height: 66px;
    border: 1px solid #d6d6d6;
}
.customer-shoping__choose-cart {
    height: 33px;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.customer-shoping__cart-name {
    color: #949393;
    font-size: 12px;
    padding-left: 9px;
    letter-spacing: -0.06px;
}
.customer-shoping__cart-choose-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30px;
    height: 100%;
    color: #c1c1c1;
}
.customer-shoping__wrap-busket-info {
    padding: 0 9px;
    height: 33px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.customer-shoping__busket-ico {
    display: block;
    text-decoration: none;
    height: 20px;
    width: 20px;
    background: url("../img/ico_busket.png") center no-repeat;
}
.customer-shoping__busket-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: -0.06px;
}
.customer-shoping__busket-items, .customer-shoping__busket-price {
    text-decoration: none;
    color: #949393;
}
.customer-shoping__busket-items:hover, .customer-shoping__busket-price:hover {
    color: #dd6b44;
    transition: 0.3s;
}
.customer-shoping__busket-price {
    padding-left: 4px;
}
.customer-shoping__busket-items {
    padding-right: 4px;
    border-right: 1px solid #949393;
}
.top-menu-adapt {
    display: none;
}
/*Адаптив для блока navigation*/
@media all and (max-width: 970px) {
    .navigation {
        padding: 0 15px;
    }
    .navigation-wrap {
        padding: 20px 0;
    }
}
@media all and (max-width: 825px) {
    .top-menu {
        display: none;
    }
    .top-menu-adapt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 14px 17px;
        background-color: #fd926d;
    }
    .top-menu-adapt--bottom {
        margin-bottom: 20px;
    }
    .top-menu-adapt__name {
        color: #ffffff;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: -0.09px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        position: relative;
        width: 22px;
        height: 20px;
    }
    .burger-line {
        display: block;
        cursor: pointer;
        height: 4px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 2px;
    }
    .burger:hover .burger-line--disable {
        display: none;
    }
    .burger:hover .burger-line--top {
        position: absolute;
        top: 7px;
        transform: rotate(45deg);
        transition: 0.5s;
    }
    .burger:hover .burger-line--bottom {
        position: absolute;
        top: 7px;
        transform: rotate(-45deg);
        transition: 0.5s;
    }
}
@media all and (max-width: 640px) {
    .navigation-wrap {
        flex-direction: column;
    }
    .logo_main {
        width: 360px;
        height: 90px;
        background: url("../img/logo_main_adapt.png") center no-repeat;
    }
    .logo_main--big {
        margin: 35px 0 58px;
    }
    .customer-shoping {
        height: 96px;
        width: 100%;
    }
    .customer-shoping__choose-cart {
        display: none;
    }
    .customer-shoping__wrap-busket-info {
        height: 100%;
        padding: 0 30px;
    }
    .customer-shoping__busket-info {
        justify-content: flex-end;
        color: #949393;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: -0.15px;
    }
    .customer-shoping__busket-ico {
        width: 51px;
        height: 49px;
        background: url("../img/ico_busket_adapt.png") center no-repeat;
    }
    .customer-shoping__busket-items {
        padding-right: 15px;
    }
    .customer-shoping__busket-price {
        padding-left: 15px;
    }
    .top-menu-adapt {
        height: 96px;
    }
    .top-menu-adapt__name {
        color: #ffffff;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: -0.15px;
    }
    .burger {
        width: 33px;
        height: 30px;
    }
    .burger-line {
        height: 6px;
        border-radius: 3px;
    }
    .burger:hover .burger-line--top {
        top: 10px;
    }
    .burger:hover .burger-line--bottom {
        top: 10px;
    }
}
@media all and (max-width: 410px) {
    .customer-shoping__busket-info {
        font-size: 23px;
    }
    .customer-shoping__wrap-busket-info {
        padding: 0 15px;
    }
    .top-menu-adapt__name {
        font-size: 23px;
    }
    .customer-shoping {
        height: 80px;
    }
    .top-menu-adapt {
        height: 80px;
    }
    .customer-shoping__busket-ico {
        width: 45px;
        height: 43px;
        background-size: contain;
    }
}
@media all and (max-width: 389px) {
    .logo_main--big {
        width: 100%;
        background-size: contain;
    }
}
/*Окончание адаптива для блока navigation*/
.slide2, .slide3 {
    display: none;
}

.header-carousel {
    margin: 0 auto;
    width: 1200px;
}
.header-carousel__wrap {
    /*padding: 0 calc((100% - 1200px) / 2);*/
    position: relative;
    height: 440px;
    background: url("../img/background_header_carousel.png") center no-repeat;
}
.header-carousel__sign {
    box-sizing: content-box;
    display: flex;
    width: 342px;
    height: 320px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0 0 182px;
}
.header-carousel__logo-banner {
    width: 342px;
    height: 241px;
    display: block;
    background: url("../img/logo_banner_crazy.png") center no-repeat;
}
.header-carousel__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 156px;
    height: 54px;
    box-shadow: 0 3px 0 #dd6b44;
    background-color: #fd926d;
    color: #ffffff;
    font-family: ArialMT, arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.header-carousel__btn:hover {
    box-shadow: 0 3px 3px rgba(221, 107, 68, 0.8);
    transition: 0.2s;
}
.header-carousel__btn-arrow {
    padding-left: 20px;
}
.header-carousel__prev {
    position: absolute;
    top: 162px;
    left: 0;
    display: block;
    width: 30px;
    height: 117px;
    background: #ffffff url("../img/ico_carousel_prev.png") center no-repeat;
    opacity: 0.9;
    z-index: 100;
}
.header-carousel__next {
    top: 162px;
    right: 0;
    position: absolute;
    display: block;
    width: 30px;
    height: 117px;
    background: #ffffff url("../img/ico_carousel_next.png") center no-repeat;
    opacity: 0.9;
    z-index: 100;
}
.header-carousel__decore-line {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 7px;
    background-color: #000000;
    opacity: 0.2;
}
.header-carousel__indicators {
    padding: 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
    margin: 0 auto;
}
.header-carousel__indicator {
    width: 10px;
    height: 10px;
    background-color: #867a76;
    border-radius: 50%;
}
.header-carousel__indicator--active {
    background-color: #fd926d;
}
/*Адаптив для блока header-carousel*/
@media all and (max-width: 1199px) {
    .header-carousel {
        width: 970px;
    }
    .header-carousel__sign {
        padding: 43px 0 0 91px;
    }
}
@media all and (max-width: 969px) {
    .header-carousel {
        width: 100%;
        min-width: 768px;
    }
    .header-carousel__sign {
        padding: 43px 0 0 91px;
    }
}@media all and (max-width: 767px) {
    .header-carousel {
        display: none;
    }
}
/*Окончание адатива для блока header-carousel*/

.subscribe {
    background-color:  #ededed;
}

.subscribe__flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.subscribe__email {
    position: relative;
    display: flex;
    align-items: center;
}

.subscribe__height {
    height: 55px;
}

.subscribe__text {
    color:  #6b6b6b;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 10px;
}

.subscribe__input {
    background-color:  #ffffff;
    width: 160px;
    color:  #9f9f9f;
    font-size: 1rem;
    font-style: italic;
    border: none;
    padding: 10px 10px;
    outline: none;
}

.btn {
    background-color:  #fd926d;
    box-shadow: 0 3px 0 0 #dd6b44;
}

.subscribe__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: none;
    padding-top: 3px;
    outline: none;
}
.subscribe__btn:hover {
    box-shadow: 0 4px 2px rgba(221, 107, 68, 0.8);
    transition: 0.2s;
}

.subscribe__input:focus::-webkit-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.subscribe__input:focus:-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.subscribe__input:focus::-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.subscribe__input:focus:-ms-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.subscribe__btn:hover {
    cursor: pointer;
}

.subscribe__btn:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 3px 0 0 #fd926d;
}

.socials {
    display: flex;
    align-items: center;
}

.socials__icon {
    display: block;
    width: 55px;
    height: 55px;
    border-bottom: 2px solid transparent;
}

.socials__facebook {
    background: #f7f7f7 url("../img/facebook.png") center no-repeat;
}

.socials__twitter {
    background: url("../img/twitter.png") center no-repeat;
}

.socials__pinterest {
    background: #f7f7f7 url("../img/pinterest.png") center no-repeat;
}

.socials__icon:hover,
.socials__icon:active {
    border-bottom: 2px solid #fd926d;
}
/*Адаптив для блока subscribe*/
@media all and (max-width: 970px) {
    .subscribe {
        padding: 0 15px;
    }
}
@media all and (max-width: 640px) {
    .subscribe {
        background-color: #ffffff;
    }
    .subscribe-bottom {
        margin-bottom: 20px;
    }
    .subscribe__text--disabled {
        display: none;
    }
    .subscribe__height {
        height: 210px;
    }
    .wrap-flex-adapt {
        flex-direction: column;
    }
    .subscribe__email {
        width: 100%;
        position: relative;
    }
    .subscribe__input {
        background-color: #ededed;
        width: 100%;
        height: 96px;
        color: #9f9f9f;
        font-size: 30px;
        letter-spacing: -0.15px;
    }
    .subscribe__btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 96px;
        height: 88px;
        box-shadow: 0 8px 0 #dd6b44;
        background: #fd926d url("../img/plus_adapt.png") center no-repeat;
    }
    .subscribe__btn img {
        display: none;
    }
    .subscribe__text {
        font-size: 26px;
        letter-spacing: -0.13px;
    }
    .socials__icon {
        width: 90px;
        height: 88px;
    }
    .socials__facebook {
        background: #f7f7f7 url(../img/facebook_adapt.png) center no-repeat;
    }
    .socials__twitter {
        background: #ededed url("../img/twitter_adapt.png") center no-repeat;
    }
    .socials__pinterest {
        background: #f7f7f7 url(../img/pinterest_adapt.png) center no-repeat;
    }
}
@media all and (max-width: 410px) {
    .subscribe__height {
        height: 171px;
    }
    .subscribe__input {
        font-size: 23px;
        height: 80px;
    }
    .subscribe__btn {
        height: 72px;
        width: 88px;
    }
    .socials__icon {
        height: 72px;
    }
    .subscribe__text {
        font-size: 21px;
    }
}
@media all and (max-width: 344px) {
    .subscribe__height {
        height: auto;
    }
    .subscribe__btn {
        width: 78px;
    }
    .socials {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
    .subscribe__text {
        text-align: center;
        margin: 0;
        width: 100%;
        padding-bottom: 10px;
    }
}
/*Окончание адаптива для блока subscribe*/
.banners {
    padding: 30px 0;
}
.banners__wrap-column {
    margin: 0 auto;
    width: 970px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 340px;
}
.banners__wrap-row {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.banners__img {
    width: auto;
    height: auto;
}
.banners__item {
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.banners__banner-one {
    width: 50%;
    height: 100%;
}
.banners__banner-two {
    width: 100%;
    height: 50%;
}
.banners__banner-three {
    width: 50%;
    height: 50%;
}
.banners__banner-four {
    width: 50%;
    height: 50%;
}
.banners__sign {
    position: absolute;
}
.banners__sign-one {
    right: 43px;
    top: 69px;
    width: 217px;
    height: 197px;
    background: url("../img/1.png") center no-repeat;
}
.banners__sign-two {
    left: 29px;
    top: 17px;
    width: 131px;
    height: 135px;
    background: url("../img/2.png") center no-repeat;
}
.banners__sign-three {
    bottom: 15px;
    width: 100%;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.19);
    color: #ffffff;
    font-family: "Helvetica Neue LT Std - Ult Lt Cn", arial, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
}
.banners__sign-four {
    width: 120px;
    bottom: 18px;
    left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banners__sign-text {
    position: relative;
    text-align: center;
    width: 118px;
    color: #ffffff;
    font-family: 'Helvetica Neue LT Std Cn', arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 19px;
}
.banners__sign-link {
    cursor: pointer;
    outline: none;
    border: none;
    width: 98px;
    height: 29px;
    background-color: #4fafa0;
    color: #ffffff;
    font-family: "Helvetica Neue LT Std - Lt", arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.banners__sign-link:hover {
    box-shadow: 2px 2px 3px rgba(79, 175, 160, 0.8);
}
@media all and (max-width: 970px) {
    .banners {
        padding: 33px 15px;
    }
}
@media all and (max-width: 969px) {
    .banners__wrap-column {
        width: 484px;
        height: auto;
    }
    .banners__banner-one {
        width: 100%;
        height: 100%;
    }
    .banners__wrap-row {
        width: 100%;
    }
}
@media all and (max-width: 640px) {
    .banners {
        display: none;
    }
}
/*.banners__wrap {
    display: block;
    width: 484px;
    height: 340px;
    overflow: hidden;
}

.banners__mid-wrap {
    display: flex;
    justify-content: space-between;
    width: 484px;
    height: 169px;
    overflow: hidden;
}

.banners__mid-margin {
    margin-bottom: 2px;
}

.banners__small-wrap {
    width: 241px;
    height: 169px;
    overflow: hidden;
}

.banners__one {
    background: url("../img/1.png") center no-repeat;
}*/

.tabs-product {
    padding-top: 50px;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs__menu {
    width: 50%;
    margin: 0;
}

.tabs__menu-link {
    display: block;
    padding: 18px;
    color:  #555555;
    font-size: 1.3rem;
    font-weight: 400;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.tabs-menu__item--active {
    background-color:  #fd926d;
}

.tabs-menu__item:hover,
.tabs-menu__item:active {
    background-color:  #fd926d;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.tabs__menu-link:hover,
.tabs-menu__item--active a{
    color: #ffffff;
}

.controls {
    display: flex;
    text-align: center;
}

.controls__link {
    display: block;
    width: 53px;
    height: 53px;
    line-height: 70px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

.controls-link__left {
    background:  #f2f2f2 url("../img/arrow-left-big.png") center no-repeat;
}

.controls-link__right {
    background:  #f2f2f2 url("../img/arrow-left-big.png") center no-repeat;
    transform: rotate(180deg);
}

.controls__link--active {
    background: #fd926d url("../img/arrow-right-big.png") center no-repeat;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.controls-link__left:hover {
    background:  #fd926d url("../img/arrow-right-big.png") center no-repeat;
    transform: rotate(180deg);
}

.controls-link__right:hover {
    background:  #fd926d url("../img/arrow-right-big.png") center no-repeat;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.carousel-product {
    background-color:  #fd926d;
}

.carousel-product__wrap {
    display: flex;
    justify-content: center;
}

.carousel {
    display: none;
}

.carousel--active {
    display: flex;
}

.carousel__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220px !important;
    height: 395px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.carousel.slick-slider .slick-track, 
.carousel.slick-slider .slick-list {
	padding: 15px 0;
}

.carousel-item__img {
    display: block;
    width: 220px;
    height: 290px;
    overflow: hidden;
}

.carousel-item__text {
    padding: 10px 45px;
    background: #ffffff;
    width: 220px;
    height: 105px;
    text-align: center;
}

.carousel-item__name, .carousel-item__price {
    color:  #373737;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.carousel-item__price {
    font-size: 1.8rem;
    margin: 10px 0;
}

.carousel-item-name__link {
    color:  #373737;
    text-decoration: none;
}

.carousel-item__btn {
    display: flex;
    width: 120px;
    height: 29px;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    line-height: 12px;
    -webkit-transition: color 0.3s, background 0.3s;
    -moz-transition: color 0.3s, background 0.3s;
    -ms-transition: color 0.3s, background 0.3s;
    -o-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
}

.carousel-item__btn::after {
    content: "";
    display: block;
    background: url("../img/plus.png") top no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 4px;
}

.carousel-item__btn:hover {
    box-shadow: 0 3px 3px rgba(221, 107, 68, 0.8);
}

.carousel-item__sale {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background: url("../img/sale.jpg") center no-repeat;
    width: 50px;
    height: 50px;
    z-index: 100;
}

.carousel-item__block-btn {
    position: absolute;
    top: 75px;
    left: 43px;
    display: none;
    align-items: center;
    border-radius: 50%;
    background-color:  #3d3d3d;
    width: 134px;
    height: 134px;
    text-decoration: none;
    text-align: center;
    padding: 41px;
}

.carousel-item__block-btn img {
    display: inline;
}

.block-btn__text {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.carousel__item:hover .carousel-item__block-btn {
    display: flex;
}

.block-btn__text:hover {
    text-decoration: underline;
}

.carousel__item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.35);
}

/*Блоки после карусели с товарами*/
.sale {
    margin: 0 auto;
    padding: 25px 0;
    max-width: 970px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sale__pict {
    padding: 0 16px;
}
.sale__border {
    width: 390px;
    height: 1px;
    background-color: #b2b2b2;
    opacity: 0.5;
}
.sale-products {
    margin: 0 auto;
    max-width: 970px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-item {
    display: flex;
    flex-direction: column;
    height: 395px;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
}
.product-item__link-img {
    display: block;
    width: 220px;
    height: 290px;
    overflow: hidden;
}
.product-item__link-img:hover {
    outline: 1px solid rgba(253, 146, 109, 0.5);
}
.product-item__text {
    padding: 11px 0;
    display: flex;
    flex-direction: column;
    height: 105px;
    justify-content: space-around;
    align-items: center;
}
.product-item__name {
    color: #373737;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: -0.12px;
}
.product-item__price {
    color: #373737;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: -0.22px;
}
.product-item__buy {
    text-decoration: none;
    width: 120px;
    height: 32px;
    font-size: 1.1rem;
    box-shadow: 0 3px 0 #dd6b44;
    background-color: #fd926d;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.product-item__buy:hover {
    box-shadow: 0 3px 3px rgba(221, 107, 68, 0.8);
    transition: 0.2s;
}
.product-item__buy:active {
    transform: translateY(2px);
}
.product-item__add-ico {
    width: 11px;
    height: 11px;
    display: block;
    background: url("../img/plus.png");
}
.load-more {
    display: none;
}
/*Адаптив для блока sale-products*/
@media all and (max-width: 970px) {
    .sale-products {
        padding: 0 15px;
    }
}
@media all and (max-width: 925px) {
    .sale-products {
        justify-content: center;
    }
    .product-item:last-child {
        display: none;
    }
    .product-item--left {
        margin-left: 30px;
    }
}
@media all and (max-width: 749px) {
    .product-item--left {
        margin-left: 15px;
    }
}
@media all and (max-width: 720px) {
    .product-item:first-child {
        display: none;
    }
    .product-item--left {
        margin-left: 30px;
    }
    .product-item:nth-child(2) {
        margin-left: 0;
    }
}
@media all and (max-width: 640px) {
    .sale-products {
        padding: 0 15px 30px;
        justify-content: space-between;
    }
    .load-more {
        margin: 0 auto;
        display: block;
        width: 220px;
        height: 60px;
        background-color: #000000;
        outline: none;
        border: none;
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
    }
    .load-more:hover {
        /*box-shadow: 2px 4px 0 rgba(221, 107, 68, 0.8);*/
        background-color: #fd926d;
        color: #ffffff;
        transition: 0.2s;
    }
    .load-more--bottom {
        margin-bottom: 30px;
    }
    .product-item {
        height: 472px;
        width: 275px;
    }
    .product-item__link-img {
        width: 275px;
        height: 310px;
        background-color: #ffffff;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .product-item__img--adapt1 {
        content: url("../img/photo25_adapt.jpg");
        position: absolute;
        bottom: 0;
        padding-bottom: 30px;
    }
    .product-item__img--adapt2 {
        content: url("../img/photo26_adapt.jpg");
        position: absolute;
        bottom: 0;
        padding-bottom: 30px;
    }
    .product-item__text {
        height: 162px;
        padding: 14px 0 22px;
    }
    .product-item__name {
        font-size: 18px;
        letter-spacing: -0.14px;
    }
    .product-item__price {
        font-size: 27px;
        letter-spacing: -0.22px;
    }
    .product-item__buy {
        width: 220px;
        height: 60px;
        box-shadow: 0 7px 0 #dd6b44;
        background-color: #fd926d;
        font-size: 20px;
    }
    .product-item__buy:hover {
        box-shadow: 0 6px 5px rgba(221, 107, 68, 0.8);
        transition: 0.2s;
    }
    .product-item__add-ico {
        width: 17px;
        height: 17px;
        background: url("../img/plus_adapt.png") center no-repeat;
        background-size: contain;
    }
    .product-item--left {
        margin-left: 0;
    }
}
@media all and (max-width: 585px) {
    .sale-products {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/*@media all and (max-width: 594px) {*/
    /*.product-item--left {*/
        /*margin-left: 10px;*/
    /*}*/
/*}*/
/*@media all and (max-width: 589px) {*/
    /*.product-item--left {*/
        /*margin-left: 0;*/
    /*}*/
/*}*/
/*Окончание адаптива для блока sale-products*/
.brands {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brands__wrap-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.brands__line-title {
    width: calc((100% - 190px) / 2);
    height: 1px;
    background-color: #b2b2b2;
    opacity: 0.5;
}
.brands__title {
    color: #414141;
    font-family: "Arial-BoldMT", arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    margin: 0;
    background-color: #ffffff;
    padding: 0 20px;
}
.brands__items {
    padding: 20px calc((100%  - 970px) / 2);
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(178, 178, 178, 0.5);
}
.brands-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;align-items: center;
}
.brands__item {
    height: 57px;
}
.brands__item-one {
    width: 83px;
    background: url("../img/brend01.png") center no-repeat;
}
.brands__item-two {
    width: 51px;
    background: url("../img/brend02.png") center no-repeat;
}
.brands__item-three {
    width: 57px;
    background: url("../img/brend03.png") center no-repeat;
}
.brands__item-four {
    width: 56px;
    background: url("../img/brend04.png") center no-repeat;
}
.brands__item-five {
    width: 84px;
    background: url("../img/brend05.png") center no-repeat;
}
.brands__item-six {
    width: 98px;
    background: url("../img/brend06.png") center no-repeat;
}
.brands__item-seven {
    width: 69px;
    background: url("../img/brend07.png") center no-repeat;
}
.brands__item-eight {
    width: 137px;
    background: url("../img/brend08.png") center no-repeat;
}
/*Адаптив для блока brands*/
@media all and (max-width: 970px) {
    .brands-wrap {
        padding: 0 15px;
    }
}
@media all and (max-width: 825px) {
    .brands__item-eight {
        display: none;
    }
}
@media all and (max-width: 768px) {
    .brands__item-seven {
        display: none;
    }
}
@media all and (max-width: 640px) {
    .brands {
        display: none;
    }
}
/*Окончание адаптива для блока brands*/
.about-lookshop {
    max-width: 970px;
    margin: 0 auto;
    padding: 29px 0;
    font-family: ArialMT, arial, sans-serif;
}
.about-lookshop__title {
    text-align: center;
    color: #414141;
    font-size: 2rem;
    letter-spacing: -0.24px;
    margin: 0;
    padding-bottom: 14px;
}
.about-lookshop__text {
    text-align: center;
    color: #999999;
    font-size: 1.2rem;
    line-height: 18px;
}
/*Адаптив для блока about-lookshop*/
@media all and (max-width: 970px) {
    .about-lookshop {
        padding: 29px 15px;
    }
}
@media all and (max-width: 640px) {
    .about-lookshop {
        display: none;
    }
}
/*Окончание адаптива для блока about-lookshop*/
.pay-system {
    padding: 18px calc((100% - 550px) / 2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}
.pay-system__title {
    opacity: 0.5;
    color: #414141;
    letter-spacing: -0.12px;
}
.pay-system__item {
    display: block;
    text-decoration: none;
    width: 35px;
    height: 22px;
}
.pay-system__item:hover {
    transform: scale(0.95, 0.95);
    transition: 0.2s;
}
.pay-system__item-01 {
    background: url("../img/pay_visa.png") center no-repeat;
}
.pay-system__item-02 {
    background: url("../img/pay_master_card.png") center no-repeat;
}
.pay-system__item-03 {
    background: url("../img/pay-pal.png") center no-repeat;
}
.pay-system__item-04 {
    background: url("../img/pay_american_express.png") center no-repeat;
}
.pay-system__item-05 {
    background: url("../img/pay_visa_electron.png") center no-repeat;
}
.pay-system__item-06 {
    background: url("../img/pay_laser.png") center no-repeat;
}
.pay-system__item-07 {
    background: url("../img/pay_maestro.png") center no-repeat;
}
.pay-system__item-08 {
    background: url("../img/pay_delta.png") center no-repeat;
}
.pay-system__item-09 {
    background: url("../img/pay_solo.png") center no-repeat;
}
.pay-system__item-10 {
    background: url("../img/pay_di.png") center no-repeat;
}
.pay-system__item-11 {
    background: url("../img/pay_dk.png") center no-repeat;
}
/*Адаптив для блока pay-system*/
@media all and (max-width: 640px) {
    .pay-system {
        display: none;
    }
}
/*Окончание адаптива для блока pay-system*/
.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ededed;
    padding: 35px calc((100% - 970px) / 2);
}
.footer__menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
}
.customer-service {
    display: flex;
    flex-direction: column;
    font-family: ArialMT, arial, sans-serif;
    width: 160px;
}
.customer-service__title, .information__title, .campaigns__title, .stores__title, .social__title {
    padding-bottom: 19px;
    color: #544f4d;
    font-size: 1.4rem;
    letter-spacing: -0.16px;
    margin: 0;
}
.social__title {
    padding: 0;
}
.customer-service__item, .information__item, .campaigns__item, .stores__item {
    text-decoration: none;
    opacity: 0.7;
    color: #544f4d;
    font-size: 1rem;
    line-height: 18px;
}
.information {
    display: flex;
    flex-direction: column;
    width: 115px;
}
.campaigns {
    display: flex;
    flex-direction: column;
    width: 140px;
}
.stores {
    display: flex;
    flex-direction: column;
    width: 52px;
}
.footer__social-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 296px;
    height: 110px;
}
.social {
    width: 125px;
    height: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.secure {
    width: 107px;
    height: 107px;
    background: url("../img/ico_secured.png") center no-repeat;
}
.social__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 77px;
    width: 125px;
    align-content: space-between;
}
.social__item {
    text-decoration: none;
    width: 35px;
    height: 35px;
    display: block;
}
.social__item:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}
.social__item-twitter {
    background: url("../img/ico_twitter.png") center no-repeat;
}
.social__item-pinterest {
    background: url("../img/ico_pinterest.png") center no-repeat;
}
.social__item-facebook {
    background: url("../img/ico_facegbook.png") center no-repeat;
}
.social__item-google-plus {
    background: url("../img/ico_google_plus.png") center no-repeat;
}
.social__item-tumblr {
    background: url("../img/ico_tumblr.png") center no-repeat;
}
.social__item-vimeo {
    background: url("../img/ico_vimeo.png") center no-repeat;
}
.footer__link:hover {
    color: #dd6b44;
    transition: 0.3s;
    opacity: 1;
}
/*Адаптив для основного контента в footer*/
@media all and (max-width: 970px) {
    .footer-wrap {
        padding: 35px 15px;
    }
    .footer__menu-items {
        width: 65%;
    }
    .footer__social-wrap {
        width: 30%;
    }
}
@media all and (max-width: 825px) {
    .footer-wrap {
        justify-content: space-around;
    }
    .footer__menu-items {
        flex-direction: row;
        width: 300px;
    }
    .footer__social-wrap {
        width: 300px;
        justify-content: space-around;
        height: 123px;
    }
    .secure--top {
        margin-top: 16px;
    }
    .customer-service {
        width: 60%;
    }
    .information {
        width: 40%;
    }
    .campaigns {
        width: 60%;
    }
    .stores {
        width: 40%;
    }
    .campaigns, .stores {
        padding-top: 40px;
    }
}
@media all and (max-width: 640px) {
    .footer-wrap {
        display: none;
    }
}
/*Окончание адаптива для основного контента в footer*/
.footer-navigation {
    padding: 24px calc((100% - 970px) / 2);
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-nav {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-nav__item {
    text-decoration: none;
    display: block;
    color: #8d8d8d;
    font-size: 0.9rem;
}
.footer-nav__item:hover {
    color: #dd6b44;
    transition: 0.2s;
    text-decoration: underline;
}
.footer-nav__item--border {
    border-right: 1px solid #8d8d8d;
    padding-right: 10px;
}
.burger--disabled {
    display: none;
}
.copyright {
    text-align: right;
    width: 97px;
    color: #8d8d8d;
    font-size: 0.9rem;
    line-height: 18px;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*Адаптив для блока footer-navigation*/
@media all and (max-width: 970px) {
    .footer-navigation {
        padding: 24px 15px;
    }
}
@media all and (max-width: 640px) {
    .footer-navigation {
        padding: 24px 30px;
    }
    .footer-nav {
        display: none;
    }
    .burger--disabled {
        display: flex;
    }
    .copyright {
        width: 211px;
        font-size: 24px;
        line-height: 30px;
    }
}
@media all and (max-width: 410px) {
    .copyright {
        font-size: 21px;
    }
}
/*Окончание адаптива для блока footer-navigation*/
